<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" />
    <title>Clone Trello</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-ligth">
    <main class="dashboard">
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-primary text-white fixed-top"
      >
        <div class="container-fluid">
          <h6>[m]..</h6>
          <a class="navbar-brand fw-bold" href="#"> I-Trello</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="workSpace"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Espacios de trabajo
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <h6 class="dropdown-header">Espacios de trabajo X</h6>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <div class="container-information">
                    <li>
                      <a class="dropdown-item" href="#"
                        >+ Crear un Espacio de trabajo</a
                      >
                    </li>
                    <li>
                      <p class="dropdown-paragraph">
                        Un Espacio de trabajo es un grupo de tableros y
                        personas, que puede utilizar para organizar su trabajo.
                      </p>
                    </li>
                  </div>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="workSpace"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Reciente
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <h6 class="dropdown-header">Tableros recientes X</h6>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <div class="container-information">
                    <li>
                      <h6 class="dropdown-header">AQUÍ VA UNA IMG</h6>
                    </li>
                    <li>
                      <p class="dropdown-paragraph">
                        Aquí encontrará todos los tableros que haya visto
                        rencientemente.
                      </p>
                    </li>
                  </div>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="workSpace"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Tableros Destacados
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <h6 class="dropdown-header">Tableros destacados X</h6>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <div class="container-information">
                    <li>
                      <h6 class="dropdown-header">AQUÍ VA UNA IMG</h6>
                    </li>
                    <li>
                      <p class="dropdown-paragraph">
                        Marque los tableros importantes para acceder a ellos de
                        forma rápida y sencilla.
                      </p>
                    </li>
                  </div>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="more"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Más
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><h6 class="dropdown-header">Más X</h6></li>
                  <li><hr class="dropdown-divider" /></li>
                  <div class="btn-group dropend">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Plantillas
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="button">
                      <li><h6 class="dropdown-header">Plantillas X</h6></li>
                      <li><hr class="dropdown-divider" /></li>
                      <li><p>Se despliegan las plantillas</p></li>
                    </ul>
                  </div>
                </ul>
              </li>
            </ul>
            <div class="nav-container-end">
              <form class="d-flex">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Búsqueda"
                  aria-label="Search"
                />
              </form>
              <h6>I..B..PRO</h6>
            </div>
          </div>
        </div>
      </nav>
      <div class="container-main container-fluid">
        <div class="home-container d-inline-block sticky-top">
          <div class="container">
            <div class="container-ls">
              <a href="#" class="bt-nav btn btn-light"
                ><strong>Tableros</strong>
              </a>
              <a href="#" class="bt-nav mt-1 btn btn-light"
                ><strong>Plantillas</strong>
              </a>
              <a href="#" class="bt-nav mt-1 btn btn-light"
                ><strong>Inicio</strong>
              </a>
            </div>
            <div class="container-dropdown">
              <div class="container-add">
                <span id="small-add" class="align-middle"
                  >Espacios de trabajo
                  <div class="small-add-span">
                    <button id="btn-add" class="text-secondary">+</button>
                  </div></span
                >
              </div>
              <div class="dropdown show">
                <a
                  id="dropdown1"
                  class="btn btn-light dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Copy
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="middle-container">
          <div class="text-container">
            <h3 id="title-tc">TUS ESPACIOS DE TRABAJO</h3>
            <p id="text-tc">
              Todavía no es miembro de ningún Espacio de trabajo.
              <a href="http://" target="_blank" rel="noopener noreferrer"
                >Cree un espacio de trabajo</a
              >
            </p>
            <button id="btn-tc">Ver todos los tableros creados</button>
          </div>
        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
