.container-main {
  display: flex;
  justify-content: center;
}

div.home-container {
  width: 272px;
  height: 654px;
  margin-top: 40px;
  justify-content: center;
}
div.middle-container {
  width: 825px;
  height: 654px;
  display: flex;
}

div.text-container {
  width: 825px;
  height: 156px;
  display: flex;
  margin: 40px 16px 0px 16px;
  flex-direction: column;
  justify-content: space-around;
}

#title-tc {
  font-size: 16px;
  color: #5e6c84;
  font-weight: 700;
  line-height: 24px;
}

#text-tc,
#text-tc > a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #828da0;
}

#btn-tc {
  width: 215px;
  height: 32px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: rgba(9, 30, 66, 0.04);
  border: none;
  color: #172b4d;
}

#btn-tc:hover,
div > a.bt-nav:hover,
#dropdown1:hover {
  background-color: rgb(239, 239, 239);
}

div > a.bt-nav {
  width: 240px;
  height: 32px;
  font-size: 14px;
  text-align: left;
}

.container-ls {
  display: row;
  text-align: left;
  margin-bottom: 12px;
  width: 240px;
}
.container-dropdown {
  width: 240px;
  height: 126px;
  margin-top: 8px;
}
.container-add {
  width: 240px;
  height: 32px;
  align-items: center;
  display: flex;
}
#small-add {
  font-size: 12px;
  padding-left: 10px;
  color: rgb(129, 129, 129);
  font-weight: bold;
}
#btn-add {
  width: 20px;
  height: 20px;
  border: 0;
}
.small-add-span {
  width: 50px;
  float: right;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 115px;
  font-size: 13px;
}

#dropdown1 {
  width: 240px;
  font-size: 14px;
  font-weight: bold;
}
