.bg-primary{
  background-color: #59A7A7 !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.dashboard__nav--brand{
  padding: 0.5rem;

}

.dashboard__nav--notifications{
  color: white;
  margin-left: 16px;
}
.dashboard__nav--notifications:hover{
  color: white;
}
.dashboard__nav--avatar{
  color: white;
  margin-left: 16px;
  background-color: #E2D469;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard__nav--avatar:hover{
  color: white;
}


.bt-nav__icon{
  margin-right: 8px ;
}

.dashboard__nav__container--information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashboard__nav__dropdown--info{
  font-size: 12px;
  margin: 5px 10px;
}
.nav-container-end {
  display: flex;
  align-items: center;
}

.dashboard__main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.dashboard__main__aside {
  width: 272px;
  
  justify-content: center;
}
.dasboard__main__content {
  width: 825px;
  display: flex;
}

.dasboard__main__content--workspaces {
  width: 825px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dasboard__main__content--title {
  font-size: 16px;
  color: #5e6c84;
  font-weight: 700;
  line-height: 24px;
}

.dasboard__main__content--notice, 
.dasboard__main__content--notice > a{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #828da0;
}

.dashboard__main__content--btn {
  width: 215px;
  height: 32px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: rgba(9, 30, 66, 0.04);
  border: none;
  color: #172b4d;
}

.dashboard__main__content--btn:hover,
.dashboard__main__aside--btn:hover,
#dropdown1:hover {
  background-color: rgb(239, 239, 239);
}

.dashboard__main__aside--btn{
  width: 240px;
  height: 32px;
  font-size: 14px;
  text-align: left;
}

.dashboard__main__aside--menu {
  display: row;
  text-align: left;
  margin-bottom: 12px;
  width: 240px;
}
.dashboard__main__aside--copy{
  width: 240px;
  height: 126px;
  margin-top: 8px;
}
.dashboard__main__aside--add {
  width: 240px;
  height: 32px;
  align-items: center;
  display: flex;
}
.dashboard__main__aside--add-button {
  font-size: 12px;
  padding-left: 10px;
  color: rgb(129, 129, 129);
  font-weight: bold;
}
#btn-add {
  width: 20px;
  height: 20px;
  border: 0;
}
.small-add-span {
  width: 50px;
  float: right;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 115px;
  font-size: 13px;
}

#dropdown1 {
  width: 240px;
  font-size: 14px;
  font-weight: bold;
}
