<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style/style.css" />
    <title>Modal</title>
  </head>
  <body class="bg-light">
    <main class="container-fluid mt-5 p-0">
      <div class="mx-auto" style="width: 200px">
        <h1 class="text-center mb-5">TRELLO</h1>
      </div>
      <div class="structure-form bg-light border mx-auto px-5 py-4">
        <div class="container-fluid mt-2">
          <h5 class="text-center font-weight-bold text-muted mb-5">
            Crea tu cuenta
          </h5>
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-13">
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Introduzca el correo electronico"
                  />
                  <small
                    id="emailHelp"
                    class="form-text text-muted mt-3 test-justify"
                    >Al registrarse, confirma que ha leído y aceptado nuestras
                    <a href="http://" target="_blank" rel="noopener noreferrer"
                      >Condiciones del Servicio</a
                    >
                    y nuestra
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                      Política de Privacidad.</a
                    ></small
                  >
                  <button class="btn btn-success btn-block mt-3" type="submit">
                    Continuar
                  </button>
                  <p class="text-muted text-center mt-3">O</p>

                  <button class="btn btn-light btn-block border" type="submit">
                    Continuar con Google
                  </button>
                  <button
                    class="btn btn-light btn-block border mt-3"
                    type="submit"
                  >
                    Continuar con Microsoft
                  </button>
                  <button
                    class="btn btn-light btn-block border mt-3 mb-3"
                    type="submit"
                  >
                    Continuar con Apple
                  </button>
                  <hr />
                  <p class="text-center mb-5">
                    <a href="http://" target="_blank" rel="noopener noreferrer"
                      >¿Ya tiene cuenta? Inicie sesión</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
