@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Radio Canada', sans-serif;
  color: #044D4D;
}

.bg-light{
  background: rgb(162,189,232);
  background: linear-gradient(180deg, rgb(210, 227, 255) 0%, rgba(235,255,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.register__header--brand{
  margin-bottom: 15px;
}

.register__form {
  width: 400px;
  height: 560.35px;
  background-color: white;
}
